[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/vbibikov/app
ExecStart=/home/vbibikov/app/venv/bin/python -m gunicorn run:app -b 0.0.0.0:8080 -w 4
Restart=always

[Install]
WantedBy=multi-user.target